body {
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
  font-family: 'Dosis';
}

a {
  cursor: pointer;
}

#editor {
  box-shadow: 0 0 2px #CCC;
  min-height: 150px;
  overflow: auto;
  padding: 1em;
  resize: vertical;
  outline: none;
}

.toolbar {
  text-align: center;
  margin-top: 2rem;
  background-color: rgba(96, 125, 139, 0.25);
  padding: 0.5rem 0 0.5rem 0;
}

.toolbar a,
.fore-wrapper,
.back-wrapper {
  border: 1px solid #fff;
  font-family: 'Candal';
  border-radius: 1px;
  padding: 5px;
  width: 1.5em;
  /* margin: -2px; */
  display: inline-block;
  text-decoration: none;
  background: #fff;
}

.toolbar a:hover,
.fore-wrapper:hover,
.back-wrapper:hover {
  /* background: #f2f2f2; */
  transition: all .3s ease;
  border-color: #8c8c8c;
}
.fore-wrapper{
  color:#e91e63;
}
.back-wrapper{
  background:#607D8B;
  color: #fff;
}
a[data-command='redo'],
a[data-command='strikeThrough'],
a[data-command='justifyFull'],
a[data-command='insertOrderedList'],
a[data-command='outdent'],
a[data-command='p'],
a[data-command='superscript'] {
 /*  margin-right: 5px;
  border-radius: 0 3px 3px 0; */
}

a[data-command='undo'],
.fore-wrapper,
a[data-command='justifyLeft'],
a[data-command='insertUnorderedList'],
a[data-command='indent'],
a[data-command='h1'],
a[data-command='subscript'] {
  /* border-radius: 3px 0 0 3px; */
}

a.palette-item {
  height: 1em;
  border-radius: 3px;
  margin: 2px;
  width: 1em;
  border: 1px solid #CCC;
}

a.palette-item:hover {
  border: 1px solid #CCC;
  box-shadow: 0 0 3px #333;
}

.fore-palette,
.back-palette {
  display: none;
}

.fore-wrapper,
.back-wrapper {
  display: inline-block;
  cursor: pointer;
}

.fore-wrapper:hover .fore-palette,
.back-wrapper:hover .back-palette {
  display: block;
  float: left;
  position: absolute;
  padding: 3px;
  width: 10em;
  background: #FFF;
  border: 1px solid #DDD;
  box-shadow: 0 0 5px #CCC;
  height: 4.4em;
}

.fore-palette a,
.back-palette a {
  background: #FFF;
  margin-bottom: 2px;
}